﻿@model IEnumerable<RoomCalendar.Models.CalendarEntry>

@{
    ViewBag.Title = "Calendar";
}

@*<style type="text/css">
    html, body {
        height: 100%;
    }
</style>*@

<h1>
    @ViewBag.RoomName - @(DateTime.Now.ToString("dd MMMM yyyy"))
</h1>

@if (@ViewBag.Error != null)
{
    <a>@ViewBag.Error</a>
}

<div id="dp"></div>

<script src="~/scripts/daypilot-all.min.js" type="text/javascript"></script>

<script type="text/javascript">
    
    var dp = new DayPilot.Calendar("dp");
    //dp.heightSpec = "Fixed";
    
    //dp.height = "815";
    dp.viewType = "Daily";
    dp.cellHeight = "15";
    

    function loadEvents() {
        
        $.getJSON("events",   // in ASP.NET MVC, use "backend/events"
        {
            //start: dp.visibleStart().toString(),
            //end: dp.visibleEnd().toString()
            //room: "Committee Room 1",
            //mailbox: "room.hobaobab@illovo.co.za"
            room: "@ViewBag.RoomName",
            mailbox: "@ViewBag.Mailbox"
        },
        function (data) {
            //jQuery.each(data, function () {
            //    alert(this.text);
            //});
            
            //for (var i = 0; i < data.length; i++) {
            //    alert(data[i].text);
            //}
            var lst = [];
            for (var i = 0; i < data.Data.length; i++) {
                var e = data.Data[i];
                //console.log(e.start);
                //console.log(e.end);
                var st = new Date();
                st.setTime(parseInt(e.start.substr(6)));
                st.setHours(st.getHours() + 2);
                var en = new Date();
                en.setTime(parseInt(e.end.substr(6)));
                en.setHours(en.getHours() + 2);

                //console.log(st);
                //console.log(en);
                
                var line = {
                    id: i,
                    text: e.text,
                    start: st,
                    end: en
                };
                lst.push(line);
                
            }
            dp.events.list = lst;
            //dp.events.list = data.Data;
            
            dp.update();
            var d = document.getElementById("dp");
            var sib = d.childNodes[1];
            sib.style.height = "700px";
            sib.style.overflow = "hidden";
        });
        //alert("hello");

        
    }

    //dp.events.list = [
    //{
    //    "id": "5",
    //    "text": "Calendar Event 5",
    //    "start": "2015-08-17T10:30:00",
    //    "end": "2015-08-17T16:30:00"
    //},
    //{
    //    "id": "6",
    //    "text": "Calendar Event 6",
    //    "start": "2015-08-17T09:00:00",
    //    "end": "2015-08-17T14:30:00"
    //},
    //{
    //    "id": "7",
    //    "text": "Calendar Event 7",
    //    "start": "2015-08-17T12:00:00",
    //    "end": "2015-08-17T16:00:00"
    //}];
    //dp.init();

    //var d = document.getElementById("dp");
    //var sib = d.childNodes[1];
    //sib.style.height = "650px";
    //sib.style.overflow = "hidden";

    dp.init();
    //loadEvents();
    //document.getElementById("updatehl").click();

    function interval(func, wait, times) {
        var interv = function (w, t) {
            return function () {
                if (typeof t === "undefined" || t-- > 0) {
                    setTimeout(interv, w);
                    try {
                        func.call(null);
                    }
                    catch (e) {
                        t = 0;
                        throw e.toString();
                    }
                }
            };
        }(wait, times);

        setTimeout(interv, wait);
    };
    
</script>

@*<h2>Calendar</h2>*@

@*<table>
    @{
        foreach (var entry in Model)
        {
            <tr>
                <td>@entry.subject</td>
                <td>@entry.start</td>
                <td>@entry.end</td>
                <td>@entry.durationInMins()</td>
            </tr>
        }
    }
</table>*@
@*<a href="javascript:loadEvents()" id="updatehl">update</a>
<a href="#">update2</a>*@

<script type="text/javascript">
    //document.getElementById("updatehl").click();
    window.setTimeout("loadEvents()", 1000);
    //setInterval(function () { loadEvents(); }, 15000);
    interval(function () {
        loadEvents();
    }, 10000, 10000);

</script>


